/*tr.status-gray td {
  background-color: #cecece;
  color: #888;
}

tr.status-green td {
  background-color: #dff0d8;
}

tr.status-yellow td {
  background-color: #fcf8e3;
}

tr.status-red td {
  background-color: #f2dede;
}*/